/* ── Hide radio buttons ───────────────────────────────────────────────────── */
input[type="radio"] { display: none; }

/* ── Active mode label styling ───────────────────────────────────────────── */
.mode-label {
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s;
}

#mode-ionian:checked ~ .mode .mode-label[for="mode-ionian"],
#mode-lydian:checked  ~ .mode .mode-label[for="mode-lydian"],
#mode-mixolydian:checked  ~ .mode .mode-label[for="mode-mixolydian"],
#mode-dorian:checked  ~ .mode .mode-label[for="mode-dorian"],
#mode-aeolian:checked  ~ .mode .mode-label[for="mode-aeolian"],
#mode-phrygian:checked  ~ .mode .mode-label[for="mode-phrygian"],
#mode-locrain:checked  ~ .mode .mode-label[for="mode-locrain"]
{
  opacity: 1;
}


/* ══════════════════════════════════════════════════════════════════════════ */
/* IONIAN                                                                     */
/* ══════════════════════════════════════════════════════════════════════════ */

#mode-ionian:checked ~ .circle:has(.ionian-C:is(:hover,:focus)) .ionian-C-related,
#mode-ionian:checked ~ .circle:has(.ionian-C:is(:hover,:focus)) ~ .mode .ionian-C-related,
#mode-ionian:checked ~ .circle:has(.ionian-C:is(:hover,:focus)) .ionian-C:is(:hover,:focus) { color: red; }

#mode-ionian:checked ~ .circle:has(.ionian-G:is(:hover,:focus)) .ionian-G-related,
#mode-ionian:checked ~ .circle:has(.ionian-G:is(:hover,:focus)) ~ .mode .ionian-G-related,
#mode-ionian:checked ~ .circle:has(.ionian-G:is(:hover,:focus)) .ionian-G:is(:hover,:focus) { color: red; }

#mode-ionian:checked ~ .circle:has(.ionian-D:is(:hover,:focus)) .ionian-D-related,
#mode-ionian:checked ~ .circle:has(.ionian-D:is(:hover,:focus)) ~ .mode .ionian-D-related,
#mode-ionian:checked ~ .circle:has(.ionian-D:is(:hover,:focus)) .ionian-D:is(:hover,:focus) { color: red; }

#mode-ionian:checked ~ .circle:has(.ionian-A:is(:hover,:focus)) .ionian-A-related,
#mode-ionian:checked ~ .circle:has(.ionian-A:is(:hover,:focus)) ~ .mode .ionian-A-related,
#mode-ionian:checked ~ .circle:has(.ionian-A:is(:hover,:focus)) .ionian-A:is(:hover,:focus) { color: red; }

#mode-ionian:checked ~ .circle:has(.ionian-E:is(:hover,:focus)) .ionian-E-related,
#mode-ionian:checked ~ .circle:has(.ionian-E:is(:hover,:focus)) ~ .mode .ionian-E-related,
#mode-ionian:checked ~ .circle:has(.ionian-E:is(:hover,:focus)) .ionian-E:is(:hover,:focus) { color: red; }

#mode-ionian:checked ~ .circle:has(.ionian-B:is(:hover,:focus)) .ionian-B-related,
#mode-ionian:checked ~ .circle:has(.ionian-B:is(:hover,:focus)) ~ .mode .ionian-B-related,
#mode-ionian:checked ~ .circle:has(.ionian-B:is(:hover,:focus)) .ionian-B:is(:hover,:focus) { color: red; }

#mode-ionian:checked ~ .circle:has(.ionian-Fs:is(:hover,:focus)) .ionian-Fs-related,
#mode-ionian:checked ~ .circle:has(.ionian-Fs:is(:hover,:focus)) ~ .mode .ionian-Fs-related,
#mode-ionian:checked ~ .circle:has(.ionian-Fs:is(:hover,:focus)) .ionian-Fs:is(:hover,:focus) { color: red; }

#mode-ionian:checked ~ .circle:has(.ionian-Db:is(:hover,:focus)) .ionian-Db-related,
#mode-ionian:checked ~ .circle:has(.ionian-Db:is(:hover,:focus)) ~ .mode .ionian-Db-related,
#mode-ionian:checked ~ .circle:has(.ionian-Db:is(:hover,:focus)) .ionian-Db:is(:hover,:focus) { color: red; }

#mode-ionian:checked ~ .circle:has(.ionian-Ab:is(:hover,:focus)) .ionian-Ab-related,
#mode-ionian:checked ~ .circle:has(.ionian-Ab:is(:hover,:focus)) ~ .mode .ionian-Ab-related,
#mode-ionian:checked ~ .circle:has(.ionian-Ab:is(:hover,:focus)) .ionian-Ab:is(:hover,:focus) { color: red; }

#mode-ionian:checked ~ .circle:has(.ionian-Eb:is(:hover,:focus)) .ionian-Eb-related,
#mode-ionian:checked ~ .circle:has(.ionian-Eb:is(:hover,:focus)) ~ .mode .ionian-Eb-related,
#mode-ionian:checked ~ .circle:has(.ionian-Eb:is(:hover,:focus)) .ionian-Eb:is(:hover,:focus) { color: red; }

#mode-ionian:checked ~ .circle:has(.ionian-Bb:is(:hover,:focus)) .ionian-Bb-related,
#mode-ionian:checked ~ .circle:has(.ionian-Bb:is(:hover,:focus)) ~ .mode .ionian-Bb-related,
#mode-ionian:checked ~ .circle:has(.ionian-Bb:is(:hover,:focus)) .ionian-Bb:is(:hover,:focus) { color: red; }

#mode-ionian:checked ~ .circle:has(.ionian-F:is(:hover,:focus)) .ionian-F-related,
#mode-ionian:checked ~ .circle:has(.ionian-F:is(:hover,:focus)) ~ .mode .ionian-F-related,
#mode-ionian:checked ~ .circle:has(.ionian-F:is(:hover,:focus)) .ionian-F:is(:hover,:focus) { color: red; }


/* ══════════════════════════════════════════════════════════════════════════ */
/* LYDIAN                                                                     */
/* ══════════════════════════════════════════════════════════════════════════ */

#mode-lydian:checked ~ .circle:has(.lydian-C:is(:hover,:focus)) .lydian-C-related,
#mode-lydian:checked ~ .circle:has(.lydian-C:is(:hover,:focus)) ~ .mode .lydian-C-related,
#mode-lydian:checked ~ .circle:has(.lydian-C:is(:hover,:focus)) .lydian-C:is(:hover,:focus) { color: red; }

#mode-lydian:checked ~ .circle:has(.lydian-G:is(:hover,:focus)) .lydian-G-related,
#mode-lydian:checked ~ .circle:has(.lydian-G:is(:hover,:focus)) ~ .mode .lydian-G-related,
#mode-lydian:checked ~ .circle:has(.lydian-G:is(:hover,:focus)) .lydian-G:is(:hover,:focus) { color: red; }

#mode-lydian:checked ~ .circle:has(.lydian-D:is(:hover,:focus)) .lydian-D-related,
#mode-lydian:checked ~ .circle:has(.lydian-D:is(:hover,:focus)) ~ .mode .lydian-D-related,
#mode-lydian:checked ~ .circle:has(.lydian-D:is(:hover,:focus)) .lydian-D:is(:hover,:focus) { color: red; }

#mode-lydian:checked ~ .circle:has(.lydian-A:is(:hover,:focus)) .lydian-A-related,
#mode-lydian:checked ~ .circle:has(.lydian-A:is(:hover,:focus)) ~ .mode .lydian-A-related,
#mode-lydian:checked ~ .circle:has(.lydian-A:is(:hover,:focus)) .lydian-A:is(:hover,:focus) { color: red; }

#mode-lydian:checked ~ .circle:has(.lydian-E:is(:hover,:focus)) .lydian-E-related,
#mode-lydian:checked ~ .circle:has(.lydian-E:is(:hover,:focus)) ~ .mode .lydian-E-related,
#mode-lydian:checked ~ .circle:has(.lydian-E:is(:hover,:focus)) .lydian-E:is(:hover,:focus) { color: red; }

#mode-lydian:checked ~ .circle:has(.lydian-B:is(:hover,:focus)) .lydian-B-related,
#mode-lydian:checked ~ .circle:has(.lydian-B:is(:hover,:focus)) ~ .mode .lydian-B-related,
#mode-lydian:checked ~ .circle:has(.lydian-B:is(:hover,:focus)) .lydian-B:is(:hover,:focus) { color: red; }

#mode-lydian:checked ~ .circle:has(.lydian-Fs:is(:hover,:focus)) .lydian-Fs-related,
#mode-lydian:checked ~ .circle:has(.lydian-Fs:is(:hover,:focus)) ~ .mode .lydian-Fs-related,
#mode-lydian:checked ~ .circle:has(.lydian-Fs:is(:hover,:focus)) .lydian-Fs:is(:hover,:focus) { color: red; }

#mode-lydian:checked ~ .circle:has(.lydian-Db:is(:hover,:focus)) .lydian-Db-related,
#mode-lydian:checked ~ .circle:has(.lydian-Db:is(:hover,:focus)) ~ .mode .lydian-Db-related,
#mode-lydian:checked ~ .circle:has(.lydian-Db:is(:hover,:focus)) .lydian-Db:is(:hover,:focus) { color: red; }

#mode-lydian:checked ~ .circle:has(.lydian-Ab:is(:hover,:focus)) .lydian-Ab-related,
#mode-lydian:checked ~ .circle:has(.lydian-Ab:is(:hover,:focus)) ~ .mode .lydian-Ab-related,
#mode-lydian:checked ~ .circle:has(.lydian-Ab:is(:hover,:focus)) .lydian-Ab:is(:hover,:focus) { color: red; }

#mode-lydian:checked ~ .circle:has(.lydian-Eb:is(:hover,:focus)) .lydian-Eb-related,
#mode-lydian:checked ~ .circle:has(.lydian-Eb:is(:hover,:focus)) ~ .mode .lydian-Eb-related,
#mode-lydian:checked ~ .circle:has(.lydian-Eb:is(:hover,:focus)) .lydian-Eb:is(:hover,:focus) { color: red; }

#mode-lydian:checked ~ .circle:has(.lydian-Bb:is(:hover,:focus)) .lydian-Bb-related,
#mode-lydian:checked ~ .circle:has(.lydian-Bb:is(:hover,:focus)) ~ .mode .lydian-Bb-related,
#mode-lydian:checked ~ .circle:has(.lydian-Bb:is(:hover,:focus)) .lydian-Bb:is(:hover,:focus) { color: red; }

#mode-lydian:checked ~ .circle:has(.lydian-F:is(:hover,:focus)) .lydian-F-related,
#mode-lydian:checked ~ .circle:has(.lydian-F:is(:hover,:focus)) ~ .mode .lydian-F-related,
#mode-lydian:checked ~ .circle:has(.lydian-F:is(:hover,:focus)) .lydian-F:is(:hover,:focus) { color: red; }

/* ══════════════════════════════════════════════════════════════════════════ */
/* MIXOLYDIAN                                                                 */
/* ══════════════════════════════════════════════════════════════════════════ */

#mode-mixolydian:checked ~ .circle:has(.mixolydian-C:is(:hover,:focus)) .mixolydian-C-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-C:is(:hover,:focus)) ~ .mode .mixolydian-C-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-C:is(:hover,:focus)) .mixolydian-C:is(:hover,:focus) { color: red; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-G:is(:hover,:focus)) .mixolydian-G-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-G:is(:hover,:focus)) ~ .mode .mixolydian-G-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-G:is(:hover,:focus)) .mixolydian-G:is(:hover,:focus) { color: red; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-D:is(:hover,:focus)) .mixolydian-D-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-D:is(:hover,:focus)) ~ .mode .mixolydian-D-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-D:is(:hover,:focus)) .mixolydian-D:is(:hover,:focus) { color: red; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-A:is(:hover,:focus)) .mixolydian-A-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-A:is(:hover,:focus)) ~ .mode .mixolydian-A-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-A:is(:hover,:focus)) .mixolydian-A:is(:hover,:focus) { color: red; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-E:is(:hover,:focus)) .mixolydian-E-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-E:is(:hover,:focus)) ~ .mode .mixolydian-E-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-E:is(:hover,:focus)) .mixolydian-E:is(:hover,:focus) { color: red; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-B:is(:hover,:focus)) .mixolydian-B-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-B:is(:hover,:focus)) ~ .mode .mixolydian-B-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-B:is(:hover,:focus)) .mixolydian-B:is(:hover,:focus) { color: red; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-Fs:is(:hover,:focus)) .mixolydian-Fs-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Fs:is(:hover,:focus)) ~ .mode .mixolydian-Fs-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Fs:is(:hover,:focus)) .mixolydian-Fs:is(:hover,:focus) { color: red; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-Db:is(:hover,:focus)) .mixolydian-Db-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Db:is(:hover,:focus)) ~ .mode .mixolydian-Db-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Db:is(:hover,:focus)) .mixolydian-Db:is(:hover,:focus) { color: red; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-Ab:is(:hover,:focus)) .mixolydian-Ab-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Ab:is(:hover,:focus)) ~ .mode .mixolydian-Ab-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Ab:is(:hover,:focus)) .mixolydian-Ab:is(:hover,:focus) { color: red; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-Eb:is(:hover,:focus)) .mixolydian-Eb-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Eb:is(:hover,:focus)) ~ .mode .mixolydian-Eb-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Eb:is(:hover,:focus)) .mixolydian-Eb:is(:hover,:focus) { color: red; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-Bb:is(:hover,:focus)) .mixolydian-Bb-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Bb:is(:hover,:focus)) ~ .mode .mixolydian-Bb-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Bb:is(:hover,:focus)) .mixolydian-Bb:is(:hover,:focus) { color: red; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-F:is(:hover,:focus)) .mixolydian-F-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-F:is(:hover,:focus)) ~ .mode .mixolydian-F-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-F:is(:hover,:focus)) .mixolydian-F:is(:hover,:focus) { color: red; }

/* ══════════════════════════════════════════════════════════════════════════ */
/* DORIAN                                                                     */
/* ══════════════════════════════════════════════════════════════════════════ */

#mode-dorian:checked ~ .circle:has(.dorian-Am:is(:hover,:focus)) .dorian-Am-related,
#mode-dorian:checked ~ .circle:has(.dorian-Am:is(:hover,:focus)) ~ .mode .dorian-Am-related,
#mode-dorian:checked ~ .circle:has(.dorian-Am:is(:hover,:focus)) .dorian-Am:is(:hover,:focus) { color: red; }

#mode-dorian:checked ~ .circle:has(.dorian-Em:is(:hover,:focus)) .dorian-Em-related,
#mode-dorian:checked ~ .circle:has(.dorian-Em:is(:hover,:focus)) ~ .mode .dorian-Em-related,
#mode-dorian:checked ~ .circle:has(.dorian-Em:is(:hover,:focus)) .dorian-Em:is(:hover,:focus) { color: red; }

#mode-dorian:checked ~ .circle:has(.dorian-Bm:is(:hover,:focus)) .dorian-Bm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Bm:is(:hover,:focus)) ~ .mode .dorian-Bm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Bm:is(:hover,:focus)) .dorian-Bm:is(:hover,:focus) { color: red; }

#mode-dorian:checked ~ .circle:has(.dorian-Fsm:is(:hover,:focus)) .dorian-Fsm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Fsm:is(:hover,:focus)) ~ .mode .dorian-Fsm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Fsm:is(:hover,:focus)) .dorian-Fsm:is(:hover,:focus) { color: red; }

#mode-dorian:checked ~ .circle:has(.dorian-Csm:is(:hover,:focus)) .dorian-Csm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Csm:is(:hover,:focus)) ~ .mode .dorian-Csm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Csm:is(:hover,:focus)) .dorian-Csm:is(:hover,:focus) { color: red; }

#mode-dorian:checked ~ .circle:has(.dorian-Gsm:is(:hover,:focus)) .dorian-Gsm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Gsm:is(:hover,:focus)) ~ .mode .dorian-Gsm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Gsm:is(:hover,:focus)) .dorian-Gsm:is(:hover,:focus) { color: red; }

#mode-dorian:checked ~ .circle:has(.dorian-Dsm:is(:hover,:focus)) .dorian-Dsm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Dsm:is(:hover,:focus)) ~ .mode .dorian-Dsm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Dsm:is(:hover,:focus)) .dorian-Dsm:is(:hover,:focus) { color: red; }

#mode-dorian:checked ~ .circle:has(.dorian-Bbm:is(:hover,:focus)) .dorian-Bbm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Bbm:is(:hover,:focus)) ~ .mode .dorian-Bbm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Bbm:is(:hover,:focus)) .dorian-Bbm:is(:hover,:focus) { color: red; }

#mode-dorian:checked ~ .circle:has(.dorian-Fm:is(:hover,:focus)) .dorian-Fm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Fm:is(:hover,:focus)) ~ .mode .dorian-Fm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Fm:is(:hover,:focus)) .dorian-Fm:is(:hover,:focus) { color: red; }

#mode-dorian:checked ~ .circle:has(.dorian-Cm:is(:hover,:focus)) .dorian-Cm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Cm:is(:hover,:focus)) ~ .mode .dorian-Cm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Cm:is(:hover,:focus)) .dorian-Cm:is(:hover,:focus) { color: red; }

#mode-dorian:checked ~ .circle:has(.dorian-Gm:is(:hover,:focus)) .dorian-Gm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Gm:is(:hover,:focus)) ~ .mode .dorian-Gm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Gm:is(:hover,:focus)) .dorian-Gm:is(:hover,:focus) { color: red; }

#mode-dorian:checked ~ .circle:has(.dorian-Dm:is(:hover,:focus)) .dorian-Dm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Dm:is(:hover,:focus)) ~ .mode .dorian-Dm-related,
#mode-dorian:checked ~ .circle:has(.dorian-Dm:is(:hover,:focus)) .dorian-Dm:is(:hover,:focus) { color: red; }


/* ══════════════════════════════════════════════════════════════════════════ */
/* AEOLIAN                                                                     */
/* ══════════════════════════════════════════════════════════════════════════ */

#mode-aeolian:checked ~ .circle:has(.aeolian-Am:is(:hover,:focus)) .aeolian-Am-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Am:is(:hover,:focus)) ~ .mode .aeolian-Am-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Am:is(:hover,:focus)) .aeolian-Am:is(:hover,:focus) { color: red; }

#mode-aeolian:checked ~ .circle:has(.aeolian-Em:is(:hover,:focus)) .aeolian-Em-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Em:is(:hover,:focus)) ~ .mode .aeolian-Em-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Em:is(:hover,:focus)) .aeolian-Em:is(:hover,:focus) { color: red; }

#mode-aeolian:checked ~ .circle:has(.aeolian-Bm:is(:hover,:focus)) .aeolian-Bm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Bm:is(:hover,:focus)) ~ .mode .aeolian-Bm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Bm:is(:hover,:focus)) .aeolian-Bm:is(:hover,:focus) { color: red; }

#mode-aeolian:checked ~ .circle:has(.aeolian-Fsm:is(:hover,:focus)) .aeolian-Fsm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Fsm:is(:hover,:focus)) ~ .mode .aeolian-Fsm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Fsm:is(:hover,:focus)) .aeolian-Fsm:is(:hover,:focus) { color: red; }

#mode-aeolian:checked ~ .circle:has(.aeolian-Csm:is(:hover,:focus)) .aeolian-Csm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Csm:is(:hover,:focus)) ~ .mode .aeolian-Csm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Csm:is(:hover,:focus)) .aeolian-Csm:is(:hover,:focus) { color: red; }

#mode-aeolian:checked ~ .circle:has(.aeolian-Gsm:is(:hover,:focus)) .aeolian-Gsm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Gsm:is(:hover,:focus)) ~ .mode .aeolian-Gsm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Gsm:is(:hover,:focus)) .aeolian-Gsm:is(:hover,:focus) { color: red; }

#mode-aeolian:checked ~ .circle:has(.aeolian-Dsm:is(:hover,:focus)) .aeolian-Dsm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Dsm:is(:hover,:focus)) ~ .mode .aeolian-Dsm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Dsm:is(:hover,:focus)) .aeolian-Dsm:is(:hover,:focus) { color: red; }

#mode-aeolian:checked ~ .circle:has(.aeolian-Bbm:is(:hover,:focus)) .aeolian-Bbm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Bbm:is(:hover,:focus)) ~ .mode .aeolian-Bbm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Bbm:is(:hover,:focus)) .aeolian-Bbm:is(:hover,:focus) { color: red; }

#mode-aeolian:checked ~ .circle:has(.aeolian-Fm:is(:hover,:focus)) .aeolian-Fm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Fm:is(:hover,:focus)) ~ .mode .aeolian-Fm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Fm:is(:hover,:focus)) .aeolian-Fm:is(:hover,:focus) { color: red; }

#mode-aeolian:checked ~ .circle:has(.aeolian-Cm:is(:hover,:focus)) .aeolian-Cm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Cm:is(:hover,:focus)) ~ .mode .aeolian-Cm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Cm:is(:hover,:focus)) .aeolian-Cm:is(:hover,:focus) { color: red; }

#mode-aeolian:checked ~ .circle:has(.aeolian-Gm:is(:hover,:focus)) .aeolian-Gm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Gm:is(:hover,:focus)) ~ .mode .aeolian-Gm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Gm:is(:hover,:focus)) .aeolian-Gm:is(:hover,:focus) { color: red; }

#mode-aeolian:checked ~ .circle:has(.aeolian-Dm:is(:hover,:focus)) .aeolian-Dm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Dm:is(:hover,:focus)) ~ .mode .aeolian-Dm-related,
#mode-aeolian:checked ~ .circle:has(.aeolian-Dm:is(:hover,:focus)) .aeolian-Dm:is(:hover,:focus) { color: red; }

/* ══════════════════════════════════════════════════════════════════════════ */
/* PHRYGIAN                                                                     */
/* ══════════════════════════════════════════════════════════════════════════ */

#mode-phrygian:checked ~ .circle:has(.phrygian-Am:is(:hover,:focus)) .phrygian-Am-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Am:is(:hover,:focus)) ~ .mode .phrygian-Am-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Am:is(:hover,:focus)) .phrygian-Am:is(:hover,:focus) { color: red; }

#mode-phrygian:checked ~ .circle:has(.phrygian-Em:is(:hover,:focus)) .phrygian-Em-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Em:is(:hover,:focus)) ~ .mode .phrygian-Em-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Em:is(:hover,:focus)) .phrygian-Em:is(:hover,:focus) { color: red; }

#mode-phrygian:checked ~ .circle:has(.phrygian-Bm:is(:hover,:focus)) .phrygian-Bm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Bm:is(:hover,:focus)) ~ .mode .phrygian-Bm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Bm:is(:hover,:focus)) .phrygian-Bm:is(:hover,:focus) { color: red; }

#mode-phrygian:checked ~ .circle:has(.phrygian-Fsm:is(:hover,:focus)) .phrygian-Fsm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Fsm:is(:hover,:focus)) ~ .mode .phrygian-Fsm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Fsm:is(:hover,:focus)) .phrygian-Fsm:is(:hover,:focus) { color: red; }

#mode-phrygian:checked ~ .circle:has(.phrygian-Csm:is(:hover,:focus)) .phrygian-Csm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Csm:is(:hover,:focus)) ~ .mode .phrygian-Csm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Csm:is(:hover,:focus)) .phrygian-Csm:is(:hover,:focus) { color: red; }

#mode-phrygian:checked ~ .circle:has(.phrygian-Gsm:is(:hover,:focus)) .phrygian-Gsm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Gsm:is(:hover,:focus)) ~ .mode .phrygian-Gsm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Gsm:is(:hover,:focus)) .phrygian-Gsm:is(:hover,:focus) { color: red; }

#mode-phrygian:checked ~ .circle:has(.phrygian-Dsm:is(:hover,:focus)) .phrygian-Dsm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Dsm:is(:hover,:focus)) ~ .mode .phrygian-Dsm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Dsm:is(:hover,:focus)) .phrygian-Dsm:is(:hover,:focus) { color: red; }

#mode-phrygian:checked ~ .circle:has(.phrygian-Bbm:is(:hover,:focus)) .phrygian-Bbm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Bbm:is(:hover,:focus)) ~ .mode .phrygian-Bbm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Bbm:is(:hover,:focus)) .phrygian-Bbm:is(:hover,:focus) { color: red; }

#mode-phrygian:checked ~ .circle:has(.phrygian-Fm:is(:hover,:focus)) .phrygian-Fm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Fm:is(:hover,:focus)) ~ .mode .phrygian-Fm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Fm:is(:hover,:focus)) .phrygian-Fm:is(:hover,:focus) { color: red; }

#mode-phrygian:checked ~ .circle:has(.phrygian-Cm:is(:hover,:focus)) .phrygian-Cm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Cm:is(:hover,:focus)) ~ .mode .phrygian-Cm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Cm:is(:hover,:focus)) .phrygian-Cm:is(:hover,:focus) { color: red; }

#mode-phrygian:checked ~ .circle:has(.phrygian-Gm:is(:hover,:focus)) .phrygian-Gm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Gm:is(:hover,:focus)) ~ .mode .phrygian-Gm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Gm:is(:hover,:focus)) .phrygian-Gm:is(:hover,:focus) { color: red; }

#mode-phrygian:checked ~ .circle:has(.phrygian-Dm:is(:hover,:focus)) .phrygian-Dm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Dm:is(:hover,:focus)) ~ .mode .phrygian-Dm-related,
#mode-phrygian:checked ~ .circle:has(.phrygian-Dm:is(:hover,:focus)) .phrygian-Dm:is(:hover,:focus) { color: red; }

/* ══════════════════════════════════════════════════════════════════════════ */
/* LOCRAIN                                                                     */
/* ══════════════════════════════════════════════════════════════════════════ */

#mode-locrain:checked ~ .circle:has(.locrain-Am:is(:hover,:focus)) .locrain-Am-related,
#mode-locrain:checked ~ .circle:has(.locrain-Am:is(:hover,:focus)) ~ .mode .locrain-Am-related,
#mode-locrain:checked ~ .circle:has(.locrain-Am:is(:hover,:focus)) .locrain-Am:is(:hover,:focus) { color: red; }

#mode-locrain:checked ~ .circle:has(.locrain-Em:is(:hover,:focus)) .locrain-Em-related,
#mode-locrain:checked ~ .circle:has(.locrain-Em:is(:hover,:focus)) ~ .mode .locrain-Em-related,
#mode-locrain:checked ~ .circle:has(.locrain-Em:is(:hover,:focus)) .locrain-Em:is(:hover,:focus) { color: red; }

#mode-locrain:checked ~ .circle:has(.locrain-Bm:is(:hover,:focus)) .locrain-Bm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Bm:is(:hover,:focus)) ~ .mode .locrain-Bm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Bm:is(:hover,:focus)) .locrain-Bm:is(:hover,:focus) { color: red; }

#mode-locrain:checked ~ .circle:has(.locrain-Fsm:is(:hover,:focus)) .locrain-Fsm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Fsm:is(:hover,:focus)) ~ .mode .locrain-Fsm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Fsm:is(:hover,:focus)) .locrain-Fsm:is(:hover,:focus) { color: red; }

#mode-locrain:checked ~ .circle:has(.locrain-Csm:is(:hover,:focus)) .locrain-Csm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Csm:is(:hover,:focus)) ~ .mode .locrain-Csm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Csm:is(:hover,:focus)) .locrain-Csm:is(:hover,:focus) { color: red; }

#mode-locrain:checked ~ .circle:has(.locrain-Gsm:is(:hover,:focus)) .locrain-Gsm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Gsm:is(:hover,:focus)) ~ .mode .locrain-Gsm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Gsm:is(:hover,:focus)) .locrain-Gsm:is(:hover,:focus) { color: red; }

#mode-locrain:checked ~ .circle:has(.locrain-Dsm:is(:hover,:focus)) .locrain-Dsm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Dsm:is(:hover,:focus)) ~ .mode .locrain-Dsm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Dsm:is(:hover,:focus)) .locrain-Dsm:is(:hover,:focus) { color: red; }

#mode-locrain:checked ~ .circle:has(.locrain-Bbm:is(:hover,:focus)) .locrain-Bbm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Bbm:is(:hover,:focus)) ~ .mode .locrain-Bbm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Bbm:is(:hover,:focus)) .locrain-Bbm:is(:hover,:focus) { color: red; }

#mode-locrain:checked ~ .circle:has(.locrain-Fm:is(:hover,:focus)) .locrain-Fm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Fm:is(:hover,:focus)) ~ .mode .locrain-Fm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Fm:is(:hover,:focus)) .locrain-Fm:is(:hover,:focus) { color: red; }

#mode-locrain:checked ~ .circle:has(.locrain-Cm:is(:hover,:focus)) .locrain-Cm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Cm:is(:hover,:focus)) ~ .mode .locrain-Cm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Cm:is(:hover,:focus)) .locrain-Cm:is(:hover,:focus) { color: red; }

#mode-locrain:checked ~ .circle:has(.locrain-Gm:is(:hover,:focus)) .locrain-Gm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Gm:is(:hover,:focus)) ~ .mode .locrain-Gm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Gm:is(:hover,:focus)) .locrain-Gm:is(:hover,:focus) { color: red; }

#mode-locrain:checked ~ .circle:has(.locrain-Dm:is(:hover,:focus)) .locrain-Dm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Dm:is(:hover,:focus)) ~ .mode .locrain-Dm-related,
#mode-locrain:checked ~ .circle:has(.locrain-Dm:is(:hover,:focus)) .locrain-Dm:is(:hover,:focus) { color: red; }