#mode-mixolydian:checked ~ .circle:has(.mixolydian-C:is(:hover,:focus)) .mixolydian-C-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-C:is(:hover,:focus)) ~ .mode .mixolydian-C-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-C:is(:hover,:focus)) .mixolydian-C:is(:hover,:focus) { color: blue; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-G:is(:hover,:focus)) .mixolydian-G-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-G:is(:hover,:focus)) ~ .mode .mixolydian-G-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-G:is(:hover,:focus)) .mixolydian-G:is(:hover,:focus) { color: blue; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-D:is(:hover,:focus)) .mixolydian-D-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-D:is(:hover,:focus)) ~ .mode .mixolydian-D-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-D:is(:hover,:focus)) .mixolydian-D:is(:hover,:focus) { color: blue; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-A:is(:hover,:focus)) .mixolydian-A-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-A:is(:hover,:focus)) ~ .mode .mixolydian-A-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-A:is(:hover,:focus)) .mixolydian-A:is(:hover,:focus) { color: blue; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-E:is(:hover,:focus)) .mixolydian-E-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-E:is(:hover,:focus)) ~ .mode .mixolydian-E-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-E:is(:hover,:focus)) .mixolydian-E:is(:hover,:focus) { color: blue; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-B:is(:hover,:focus)) .mixolydian-B-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-B:is(:hover,:focus)) ~ .mode .mixolydian-B-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-B:is(:hover,:focus)) .mixolydian-B:is(:hover,:focus) { color: blue; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-Fs:is(:hover,:focus)) .mixolydian-Fs-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Fs:is(:hover,:focus)) ~ .mode .mixolydian-Fs-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Fs:is(:hover,:focus)) .mixolydian-Fs:is(:hover,:focus) { color: blue; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-Db:is(:hover,:focus)) .mixolydian-Db-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Db:is(:hover,:focus)) ~ .mode .mixolydian-Db-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Db:is(:hover,:focus)) .mixolydian-Db:is(:hover,:focus) { color: blue; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-Ab:is(:hover,:focus)) .mixolydian-Ab-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Ab:is(:hover,:focus)) ~ .mode .mixolydian-Ab-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Ab:is(:hover,:focus)) .mixolydian-Ab:is(:hover,:focus) { color: blue; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-Eb:is(:hover,:focus)) .mixolydian-Eb-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Eb:is(:hover,:focus)) ~ .mode .mixolydian-Eb-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Eb:is(:hover,:focus)) .mixolydian-Eb:is(:hover,:focus) { color: blue; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-Bb:is(:hover,:focus)) .mixolydian-Bb-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Bb:is(:hover,:focus)) ~ .mode .mixolydian-Bb-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-Bb:is(:hover,:focus)) .mixolydian-Bb:is(:hover,:focus) { color: blue; }

#mode-mixolydian:checked ~ .circle:has(.mixolydian-F:is(:hover,:focus)) .mixolydian-F-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-F:is(:hover,:focus)) ~ .mode .mixolydian-F-related,
#mode-mixolydian:checked ~ .circle:has(.mixolydian-F:is(:hover,:focus)) .mixolydian-F:is(:hover,:focus) { color: blue; }
